
.textInput {
    position: relative !important;
    margin-bottom: 50px;
}
.textInput input,
.textInput label {
    cursor: text;
    font-size: 15px;
    position: absolute;
    transition: all 0.15s ease;
    width: 200px !important;
    padding: 20px 1% 0.15em 1%;
}
.middleFingerForward > label {
    font-size: 15px;
}
.textInput input {
    border: solid black 1px;
    border-radius: 0.15em;
    padding-left:10px;
}
.textInput label {
    color:#bcb9b8;
    padding:0.8em 10px;
}
.textInput input.filled ~ label,
.textInput input:focus ~ label {
    padding:0.1em 10px;
    font-size: 11px !important;
    font-weight: 400;
}

.form-signin .form-control:focus {
    animation-name: border;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-duration: .3s;
    z-index: 2;
    background-color: #e4e2e470;
    outline:  none;
  }
  
  @keyframes border {
    form { opacity: 0; }
    to {
    box-shadow: -1px -1px 5px #2c6bff52, -1px 1px 5px #2c6bff52, 
    1px 1px 5px #2c6bff52, 1px -1px 5px #2c6bff52;
    opacity: 1;
     }
  }
  
.form-signin .form-control,
.searchForm {
    width: 220px !important;
    font-size: 16px;
    height: auto;
    padding: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(204, 202, 202, 0.5);
    border-radius: 5px;
  }