<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{margin:0;padding:0;}
        div{
            position: relative;
        }

        input{
            position: absolute;
            width:60px;
        }
        #input1{
            top:200px;
            left:210px;
        }
        #input2{
            top:200px;
            left:460px;
        }
        #input3{
            top:150px;
            left:380px;
        }
        #input4{
            top:150px;
            left:290px;
        }
    </style>
</head>
<body>
    <div class="img" style="border:1px solid black;width:600px;height:600px;background-image:url('chart.jpg')">
        <input id="input1" type="text" placeholder="ex1">
        <input id="input2" type="text" placeholder="ex2">
        <input id="input3" type="text" placeholder="ex3">
        <input id="input4" type="text" placeholder="ex4">
    </div>
</body>
</html>