<html>
<head>
<title>+ 왕궁볼링장 +</title>
</head>
<body>
	<h1>볼링장 지공 데이터 프로그램</h1>
	<div>
		<form action="#" method="get">
			<input type="text" placeholder="회원 검색" name="userSearch">
			<input type="submit" value="검색">
		</form>
		<a href="#">로그아웃</a> &nbsp;&nbsp;<a href="#">비밀번호 변경하기</a><br>
		<table>
			<tr>
				<td>회원번호</td>
				<td>회원이름</td>
				<td>연락처</td>
				<td>작성/수정일</td>
				<td>수정 버튼</td>
				<td>삭제 버튼</td>
				<td><a href="#">지공 사이즈 작성</a></td>
			</tr>
			<tr>
				<td>1</td>
				<td><a href="#">윤승재</a></td>
				<td>010-9394-3588</td>
				<td>2020-02-02</td>
				<td><a href="#">회원정보 수정</a></td>
				<td><a href="#">회원정보 삭제</a></td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="#">김지안</a></td>
				<td>010-4884-4500</td>
				<td>2020-02-01</td>
				<td><a href="#">회원정보 수정</a></td>
				<td><a href="#">회원정보 삭제</a></td>
			</tr>
		</table>
		<table>
			<tr>
				<td>
					<a href="#">[ 처음 ]</a>
					<a href="#">[ 이전 ]</a>
					<span style="color:red">1</span>&nbsp;
					<a href="#">2</a>&nbsp;
					<a href="#">3</a>&nbsp;
					<a href="#">4</a>&nbsp;
					<a href="#">5</a>&nbsp;
					<a href="#">6</a>&nbsp;
					<a href="#">7</a>&nbsp;
					<a href="#">8</a>&nbsp;
					<a href="#">9</a>&nbsp;
					<a href="#">10</a>&nbsp;
					<a href="#">[ 다음 ]</a>
					<a href="#">[ 끝 ]</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
